CREATE OR REPLACE PROCEDURE ${schema}.${proc.name}(
  % for arg in args:
    %if arg.mode=="IN":
      ${arg.name}, ${arg.type}${'' if loop.last else ','}
    %endif
	%endfor
	)
language plpgsql
as $$
begin
	insert into users (department, urole, first_name, second_name, email)
	values (1, 'chief', u_first_name, u_first_name, u_second_name, u_email);

end;$$
